# venv
adl_env/

# data 
data/
touch data/.gitkeep

# model checkpoints
cheff_peft/checkpoints
touch cheff_peft/checkpoints/.gitkeep
cheff_peft/finetune_cheff/

# runs
classifier/runs
touch classifier/runs/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models and Env
.env
*.pt
*.ckpt