
trained_models/
.venv/
venv/
physionet.org/
*.dicom
machex_dataset/
pedicxr_test/
*pyc
.env

data/
download_missing_train_files.sh
download_training_log.txt
experiments/runs/
.venv_eval/
.venv/
.venv_machex/